django
djangorestframework
django-cors-headers
djangorestframework-simplejwt
opencv-python
tensorflow
keras
numpy
pandas
pillow
python-dotenv
scikit-learn
textblob
matplotlib
seaborn
gunicorn
whitenoise
dj-database-url
python-dotenv
